<h1> Create your own Cocktail </h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: false, input_html: { placeholder: "Find your cocktail", value: nil } %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
